/* Mock up using custom elements */

body {
	margin: 0;
}

cat-timeline,
cat-grid,
cat-gridline,
cat-animations,
cat-animation,
cat-selector,
cat-keyframes,
cat-keyframe,
cat-time,
cat-properties,
cat-controls,
cat-tracker {
	display: block;
}

cat-timeline {
	background: #f9f9f9;
	border-bottom: 1px solid #ccc;
	font: normal 14px/18px Consolas, Courier New, Courier, monospace;
	height: 200px;
	width: 100%;
	overflow: hidden;
	padding: 1.5em 0 30px;
	position: relative;
}

cat-grid {
	display: -webkit-flex;
	flex-flow: row;
	height: 1.5em;
	padding: .2em 0 0 200px;
	overflow-x: hidden;
	position: absolute;
	top: 0;
	z-index: 3;
}

cat-grid:before {
	background: linear-gradient(to right, #f9f9f9 75%, transparent);
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	height: 1.5em;
	width: 200px;
	z-index: 1;
}

cat-grid:after {
	background: #f3f3f3;
	border-bottom: 1px solid #ccc;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 1.5em;
	z-index: -1;
}

cat-gridline {
	display: block;
	height: 1.4em;
	min-width: 200px;
	position: relative;
	left: 0px;
	text-align: center;
	text-indent: -200px;
}

cat-animations {
	background: linear-gradient(to right, transparent 189px, #ccc 189px, #ccc 211px, transparent 211px) no-repeat,
				linear-gradient(to right, #ccc 1px, transparent 1px), 
	            linear-gradient(to right, #f3f9ff 199px, #fff 200px);
	background-size: 100% 100%, 200px 100%, 400px 100%;
	cursor: all-scroll;
	height: 100%;
	overflow: hidden;
	overflow-y: auto;
	position: relative;
}

cat-animation {
	padding: .4em 0;
	position: relative;
	width: 188px;
	z-index: 2;
	position: relative;
}

cat-animations:before {
	background: #eee;
	border-right: 1px solid #ccc;
	content: '';
	display: block;
	height: 100%;
	width: 187px;
	position: absolute;
	z-index: 1;
}

cat-selector {
	background: #eee;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	box-shadow: inset 1px 1px 3px rgba(255,255,255,.7), inset 0 -1px 1px rgba(0,0,0,.05);
	cursor: default;
	padding: .4em .8em;
	font: bold 16px/20px Consolas, Courier New, Courier, monospace;
	text-align: right;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 2;
}

cat-name,
cat-time,
cat-properties {
	display: none;
}

cat-keyframes {
	cursor: default;
	background: #9cf;
	border: 2px solid #9cf;
	border-right-width: 12px;
	border-left-width: 12px;
	border-radius: 15px;
	margin: 0 0 .5em 188px;
	padding: 0;
	position: relative;
	height: 20px;
	transition: background .3s, box-shadow .3s;
	z-index: 1;
}

cat-keyframes:last-child {
	margin-bottom: 0;
}

cat-keyframes:hover {
	background: #5ae;
	box-shadow: inset 1px 1px 1px rgba(0,0,0,.1), inset -1px -1px 1px rgba(0,0,0,.1);
}

cat-keyframe {
	cursor: ew-resize;
	background: #28f;
	border-radius: 10px;
	height: 20px;
	width: 20px;
	margin-left: -10px;
	position: absolute;
	top: 0;
}

cat-tracker {
	background: #28f;
	bottom: 31px;
	margin-left: 200px;
	position: absolute;
	top: calc(1.5em + 1px);
	width: 1px;
	visibility: hidden;
	z-index: 9;
}


/* Controls */

cat-controls {
	border-top: 1px solid #ccc;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 30px;
	line-height: 25px;
	padding-left: 90px;
	font-size: 0;
	z-index: 2;
}

cat-timeline button {
	background: transparent;
	border: none;
	display: inline-block;
	height: 20px;
	outline: none;
	position: relative;
	text-indent: -999em;
	width: 26px;
	vertical-align: middle;
}

#skip-start:before,
#skip-start:after,
#play:before,
#pause:before,
#pause:after,
#skip-end:before,
#skip-end:after {
	content: ' ';
	display: block;
	position: absolute;
	top: 5px;
	-webkit-filter: drop-shadow(0px 0px 2px rgba(0,0,0,.3));
}

#skip-start:before {
	background: #666;
	height: 16px;
	left: 4px;
	width: 5px;
}

#skip-start:after {
	height: 0;
	width: 0;
	border: 8px solid transparent;
	border-left: none;
	border-right: 12px solid #666;
	left: 8px;
}

#play:before {
	left: 9px;
	height: 0;
	width: 0;
	border: 8px solid transparent;
	border-left: 12px solid #666;
	border-right: none;
}

#pause:before,
#pause:after {
	background: #666;
	height: 16px;
	left: 8px;
	width: 5px;
}

#pause:after {
	left: 15px;
}

#skip-end:before {
	height: 0;
	width: 0;
	border: 8px solid transparent;
	border-right: none;
	border-left: 12px solid #666;
	left: 4px;
}

#skip-end:after {
	background: #666;
	height: 16px;
	left: 16px;
	width: 5px;
}

#skip-end:hover:before,
#play:hover:before {
	border-left-color: #28f;
}

#skip-start:hover:after {
	border-right-color: #28f;
}

#skip-start:hover:before,
#skip-end:hover:after,
#pause:hover:before,
#pause:hover:after {
	background: #28f;
}

#skip-start:hover:before,
#skip-start:hover:after,
#play:hover:before,
#pause:hover:before,
#pause:hover:after,
#skip-end:hover:before,
#skip-end:hover:after {
	-webkit-filter: drop-shadow(0px 0px 2px #28f);
}

cat-timeline progress {
	background: #28f;
	border: none;
	border: 1px solid #999;
	border-radius: 5px;
	display: block;
	height: 10px;
	position: absolute;
	bottom: 10px;
	left: 187px;
	width: auto;
	right: 10px;
	text-align: left;
	z-index: 1;
}

progress::-moz-progress-bar {
	background: #9cf;
	border-radius: 5px;
}

progress::-ms-progress-bar {
	background: #9cf;
	border-radius: 5px;
}

progress::-webkit-progress-bar {
	background: #ccc;	
	border-radius: 5px;
}

progress::progress-bar {
	background: #9cf;
	border-radius: 5px;
}

progress::-webkit-progress-bar-value, progress::-webkit-progress-value {
	background: #9cf;
	border-radius: 5px;
}

#seek {
	appearance: none;
	background: transparent;
	border: none;
	display: block;
	height: 0px;
	margin: 0;
	outline: none;
	padding: 0;
	position: absolute;
	top: 15px;
	right: 0px;
	width: calc(100% - 178px);
	z-index: 1;
}

#seek::-webkit-slider-thumb {
	appearance: none;
	background: #666;
	border-radius: 10px;
	box-shadow: 0 0 2px rgba(0,0,0,.3);
	height: 20px;
	width: 20px;
}

#seek:focus::-webkit-slider-thumb,
#seek:hover::-webkit-slider-thumb {
	background: #28f;
	box-shadow: 0px 0px 5px #28f; 
}